<style>
    body {
        font-family: 'Lato', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f9;
        font-size: 16px;
    }

    .container {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .tabs {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }

    .tabs button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 16px;
        transition: color 0.3s ease;
    }

    .tabs button:focus {
        outline: 2px solid #0000ff;
    }

    .tabs button:hover {
        color: #0000ff;
    }

    .img-container {
        width: 100%;
        height: 90vh;
        overflow: hidden;
        text-align: center;
        position: relative;
        margin-bottom: 0;
    }

    .img-container img {
        width: 100%;
        height: 90%;
        object-fit: cover;
    }

    .tab {
        flex: 1;
        text-align: center;
        padding: 15px 0;
        cursor: pointer;
        transition: background-color 0.3s;
        background-color: #f4f4f9;
        font-weight: bold;
        border-right: 1px solid #ccc;
        font-size: 16px;
    }

    .tab:last-child {
        border-right: none;
    }

    .tab:hover {
        background-color: #ddd;
    }

    .tab.active {
        background-color: #fff;
        border-bottom: 2px solid rgb(23, 27, 255);
        color: rgb(23, 27, 255);
    }

    .tab-content {
        display: none;
        font-size: 16px;
    }

    .tab-content.active {
        display: block;
    }

    .title {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 10em;
        text-align: center;
    }

    p {
        color: rgb(66, 66, 66);
    }

    .box-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 40px;
    }

    .box {
        background-color: rgba(8, 163, 252, 0.8);
        color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 22%;
        min-width: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .box:hover {
        transform: translateY(-10px);
    }

    .box img {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
    }

    .quote {
        font-size: 2em;
        line-height: 2.3;
        color: #333;
        background-color: #f9f9f9;
        padding: 20px;
        border-left: 4px solid #007bff;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    }

    .quote::before,
    .quote::after {
        font-size: 2.5em;
        line-height: 0.1em;
        vertical-align: -0.4em;
        color: #007bff;
    }

    .quote::before {
        content: "\201C";
        margin-right: 0.25em;
    }

    .quote::after {
        content: "\201D";
        margin-left: 0.25em;
    }

    .fade {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 1s ease-out, transform 1s ease-out;
    }

    .fade-in {
        opacity: 1;
        transform: translateY(0);
    }

    .outline {
        border: 2px solid #333;
        padding: 10px;
        margin: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .big {
        font-size: 2em;
        text-align: center;
        margin-top: 10px;
    }

    .circle {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: rgba(19, 213, 247, 0.5);
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: transform 0.05s ease-out;
    }

    @media screen and (max-width: 982px) {
        .tabs {
            flex-direction: column;
        }

        .tab {
            padding: 15px;
            border-right: none;
            border-bottom: 1px solid #ccc;
            font-size: 14px;
        }

        .tab:last-child {
            border-bottom: none;
        }

        .container {
            padding: 10px;
        }

        .title {
            font-size: 2.5em;
            top: 40%;
        }

        .quote {
            font-size: 1.1rem;
        }

        .box {
            width: 45%;
        }
    }

    @media (max-width: 600px) {
        .tabs button {
            padding: 10px;
            font-size: 12px;
        }

        .box {
            width: 100%;
        }
    }
</style>
